<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>MOMENTLOCK</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" th:href="@{/css/nav.css}" />
	<link rel="stylesheet" th:href="@{/css/commons.css}" />
	<link rel="stylesheet" th:href="@{/css/commons/member_btn.css}" />
	<link rel="stylesheet" th:href="@{/css/member/login.css}" />
</head>

<body>
	<div th:replace="~{fragments/sidebar :: sidebar}"></div>
	<div id="mainContainer" class="blurContainer">
		<div th:replace="~{fragments/nav_login :: nav}"></div>
		<div class="member-modal login">
			<h1>로그인 또는 회원가입</h1>
			<div class="fail-login" th:if="${param.error}" style="color:red;">
  				Invalid username or password
			</div>
			<form action="/loginProc" method="post" name="loginForm">
				<div id="input-box">
					
					<div id="input-group">
						<span>아이디</span>
        				<input id="username" type="text" name="username" placeholder="아이디를 입력하세요"/>
        			</div>
					
        			<div id="input-group">
        				<span>비밀번호</span>
        				<input id="password" type="password" name="password" placeholder="비밀번호를 입력하세요"/>
        			</div>
					
					<div>
        				<input id="loginBtn" class="member-btn" type="submit" value="로그인"/>
					</div>
					
        			<div id="move-login-box">
	    				<a th:href="@{/momentlock/member/idFind}">아이디 찾기</a>
		    			<p></p>
		    			<a th:href="@{/momentlock/memberjoin}">회원가입</a>
        			</div>
					<div id="move-login-box">
        				<a th:href="@{/momentlock/passwordresetconfirm}">비밀번호 재설정</a>
        				<p></p><p></p>
        			</div>
        		</div>
    		</form>
    		
			<div class="social-login-box">
				<div>간편 로그인</div>
					<div id="social-login-img-box">
		    			<a href="/oauth2/authorization/naver">
							<img class="naver-img" th:src="@{/img/naver.png}">
						</a>
		    			<a href="/oauth2/authorization/google">
		    				<img class="google-img" th:src="@{/img/google.png}">
		    			</a>
		    			<a href="/oauth2/authorization/kakao">
		    				<img class="kakao-img" th:src="@{/img/kakao.jpg}">
		    			</a>
					</div>
    		</div>
		</div>
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
	<script th:src="@{/js/main.js}" defer></script>
</body>

</html>