<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>MOMENTLOCK</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" th:href="@{/css/nav.css}" />
	<link rel="stylesheet" th:href="@{/css/commons/commons.css}" />
	<link rel="stylesheet" th:href="@{/css/member/memberjoin.css}" />
	<link rel="stylesheet" th:href="@{/css/commons/member_btn.css}" />
	<link rel="stylesheet" th:href="@{/css/member/memberinfo.css}" />
</head>

<body>
	<div th:replace="~{fragments/sidebar :: sidebar}"></div>
	<div id="mainContainer" class="blurContainer">
		<div th:replace="~{fragments/nav :: nav}"></div>
		<div id="join-container">
			<h1>회원정보 수정</h1>
			<form  id="memberjoin" th:action="@{/momentlock/memberupdate}" th:object="${memberDto}" method="post">
				<!-- input 필드 -->
				<div id="input-box">
					
					<div class="input-box-name name">
						<span>이름</span>
						<input type="text" name="name" placeholder="이름을 입력하세요" th:field="*{name}" />
					</div>
					
					<div class="input-box-name nickname">
						<span>닉네임</span>
						<input type="text" name="nickname" placeholder="닉네임을 입력하세요" th:field="*{nickname}" />
					</div>
					
					<div>
						<div class="input-box-name username">
							<span>이메일</span>
							<input type="text" name="username" placeholder="이메일을 입력하세요" th:field="*{username}" disabled />
						</div>
						<p class="msg username">이메일은 수정이 불가능합니다</p>
					</div>
					<div>
						<div class="input-box-name password">
							<span>비밀번호</span>
							<input type="password" name="password" placeholder="비밀번호를 입력하세요" required />
						</div>
						<p class="msg password"></p>
					</div>
					<div>
						<div class="input-box-name passwordconfirm">
							<span>비밀번호 확인</span>
							<input type="password" name="passwordconfirm" placeholder="비밀번호를 입력하세요" required />
						</div>
						<p class="msg passwordconfirm"></p>
					</div>
					
					<div>
						<div class="input-box-name phonenumber">
							<span>전화번호</span>
							<input type="text" name="phonenumber" placeholder="전화번호를 입력하세요" th:field="*{phonenumber}" />
						</div>
						<p class="msg phonenumber"></p>
					</div>
					
					<th:block th:if="${memberDto.subcode != 'MNORMAL'}">
						<div>
							<div class="input-box-name phonenumber mysub" th:switch="${memberDto.subcode}">
								<span>구독 현황</span>
								<p th:case="MBASIC01" class="mysub-name">베이직 구독 한달</p>
								<p th:case="MBASIC02" class="mysub-name">베이직 구독 1년</p>
								<p th:case="MPRO01" class="mysub-name">프리미엄 구독 한달</p>
								<p th:case="MPRO02" class="mysub-name">프리미엄 구독 1년</p>
							</div>
						</div>
						
						<div>
							<div class="input-box-name phonenumber">
								<span>구독 만료일자</span>
								<p id="enddate" th:text="${memberDto.subendday}"></p>
								<button class="member-btn sub">구독 취소</button>
							</div>
						</div>
					</th:block>
					
					<th:block th:if="${memberDto.subcode == 'MNORMAL'}">
						<div>
							<div class="input-box-name phonenumber">
								<span>구독 현황</span>
								<p id="substatus">구독한 서비스가 없습니다.</p>
								<button type="button" class="member-btn store">구독하러 가기</button>
							</div>
						</div>
					</th:block>
					
				</div>
				
				<div id="btn-box">
					<input type="button" class="member-btn" value="이전" onclick="history.back()">
					<button class="member-btn">수정</button>
				</div>
			</form>
			
		</div>
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
	<script th:src="@{/js/nav.js}" defer></script>
	<script th:src="@{/js/member/memberfunction.js}" defer></script>
	<script th:src="@{/js/member/memberinfo.js}" defer></script>
	<script th:src="@{/js/member/memberjoin.js}" defer></script>
	<script th:inline="javascript">
		    /*<![CDATA[*/
		    if ([[${resultMsg}]] != null) {
		        alert([[${resultMsg}]]);
		    }
		    /*]]>*/
	</script>
	<body>

</html>