<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" th:href="@{/css/nav.css}" />
	<link rel="stylesheet" th:href="@{/css/commons/commons.css}" />
	<link rel="stylesheet" th:href="@{/css/member/memberdeclarlist.css}" />
</head>

<body>
	 <!-- row 한 행 클릭 시 상세 정보나오는 모달창 -->
	 <div class="modal-overlay">
		 <div class="box-modal">
			<a>
				<img class="close-btn" src="/img/x.png" alt="창닫기" />
			</a>
			<div id="modal-inner">
				<p class="modal-title">문의 제목</p>
				<p class="modal-date">날짜</p>
				<p class="modal-content">문의 내용내용내용</p>
			</div>
		 </div>
	 </div>
			 
	<script th:src="@{/js/member/memberbox.js}" defer></script>
	<body>

</html>