<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>MOMENTLOCK</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" th:href="@{/css/nav.css}" />
	<link rel="stylesheet" th:href="@{/css/commons/commons.css}" />
	<link rel="stylesheet" th:href="@{/css/managerpagetoolex.css}" />
	<link rel="stylesheet" th:href="@{/css/member/memberdeclarlist.css}" />
	<link rel="stylesheet" th:href="@{/css/commons/pagination.css}" />
</head>

<body>
	<div th:replace="~{fragments/sidebar :: sidebar}"></div>
	<div id="mainContainer" class="blurContainer">
		<div th:replace="~{fragments/nav :: nav}"></div>
		
		<div class="managerpagetoolex-modal-container">
			<div class="managerpagetoolex-tab-nav">
				<ul>
					<li class="tabs"><a th:href="@{/momentlock/memberinquirylist}">문의게시판</a></li>
			        <li class="tabs"><a th:href="@{/momentlock/memberdeclarlist}">신고게시판</a></li>
			        <li class="tabs active"><a th:href="@{/momentlock/membernoticelist}">공지사항</a></li>
				</ul>
			</div>
			
			<!-- 모달창 -->
			<div class="modal_3 notice">
			    <h1>공지사항 페이지</h1>
				
				<!-- 공지, QnA 필터링 -->
				<div id="notice-type-box">
					<div id="notice">NOTICE</div>
					<div id="qna">QNA</div>
				</div>
				
				<div>
					<!-- 테이블 제목 -->
					<div id="table-title-box">
						<div id="table-no">번호</div>
						<div id="table-title">제목</div>
						<div id="table-regdate">날짜</div>
					</div>
					
					<div id="table-container">
						<!-- 공지사항 반복 -->
						<div class="row notice" th:each="notice : ${noticelist}">
							<div class="col number" th:text="${notice.id}">1</div>
							<div class="col title" th:text="${notice.title}">공지사항 제목</div>
							<div class="col regdate" th:text="${notice.regDate}">2025/10/4</div>
						</div>
						<div class="row notice" th:if="${noticelist.empty}">
							<div class="col">표시할 공지사항이 없습니다.</div>
						</div>
						
					</div>
				</div>
				
				<!-- 페이지네이션 -->
				<div th:if="${!noticelist.isEmpty()}" id="pagination-container">
					<ul class="pagination">
						
						<!-- 이전 -->
						<li class="arrow" th:if="${noticelist.hasPrevious()}">
							<a th:href="@{/momentlock/membernoticelist(page=${noticelist.number - 1}, size=${noticelist.size}, type=${type})}">&lt;</a>
						</li>

						<!-- 페이지 번호 -->
						<li class="pagenumber" th:each="i : ${#numbers.sequence(0, noticelist.totalPages - 1)}"
							th:classappend="${i == noticelist.number} ? 'active'">
							<a th:href="@{/momentlock/membernoticelist(page=${i}, size=${noticelist.size}, type=${type})}" th:text="${i + 1}"></a>
						</li>
						
						<!-- 다음 -->
						<li class="arrow" th:if="${noticelist.hasNext()}">
							<a th:href="@{/momentlock/membernoticelist(page=${noticelist.number + 1}, size=${noticelist.size}, type=${type})}">&gt;</a>
						</li>
						
					</ul>
				</div>
		</div>	
	</div>
	
	<!-- 상세정보 모달창 -->
	<div class="modal-overlay">
		<div class="box-modal">
			 <a>
			 	<img class="close-btn" src="/img/x.png" alt="창닫기" />
			 </a>
			 <div id="modal-inner">
				<div class="modal-title-date-box">
					<p class="modal-title"></p>
				</div>
				<textarea class="modal-content" disabled></textarea>
			 </div>
	 	</div>
	</div>
	
	<div th:replace="~{fragments/footer :: footer}"></div>
	<script th:src="@{/js/nav.js}" defer></script>
	<script th:src="@{/js/managerpagetoolex.js}" defer></script>
	<script th:src="@{/js/member/memberfunction.js}" defer></script>
	<script th:src="@{/js/member/memberbox.js}" defer></script>
	<body>

</html>