<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" th:href="@{/css/nav.css}" />
	<link rel="stylesheet" th:href="@{/css/commons/commons.css}" />
	<link rel="stylesheet" th:href="@{/css/managerpagetoolex.css}" />
</head>

<body>
	<div th:replace="~{fragments/sidebar :: sidebar}"></div>
	<div id="mainContainer" class="blurContainer">
		<div th:replace="~{fragments/nav :: nav}"></div>
		
		<div class="managerpagetoolex-modal-container">
			<div class="managerpagetoolex-tab-nav">
				<ul>
					<li class="tabs active"><a th:href="@{/momentlock/memberinquirylist}">문의게시판</a></li>
			        <li class="tabs"><a th:href="@{/momentlock/memberdeclarlist}">신고게시판</a></li>
			        <li class="tabs"><a th:href="@{/momentlock/membernoticelist}">공지사항</a></li>
				</ul>
			</div>
			
			<!-- 모달창 -->
			<div class="modal_3">
			    <h1>문의사항 페이지</h1>
				
				<div>
					<table>
						<tbody>
							<tr>
								<th>1</th>
								<td>문의제목</td>
								<td>2025/10/04</td>
							</tr>
							<tr>
								<th>1</th>
								<td>문의제목</td>
								<td>2025/10/04</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div>페이지네이션</div>
			 </div>
			 
		</div>	
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
	<script th:src="@{/js/nav.js}" defer></script>
	<script th:src="@{/js/managerpagetoolex.js}" defer></script>
	<body>

</html>