<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" th:href="@{/css/nav.css}" />
	<link rel="stylesheet" th:href="@{/css/commons/commons.css}" />
	<link rel="stylesheet" th:href="@{/css/managerpagetoolex.css}" />
	<link rel="stylesheet" th:href="@{/css/member/memberdeclarlist.css}" />
</head>

<body>
	<div th:replace="~{fragments/sidebar :: sidebar}"></div>
	<div id="mainContainer" class="blurContainer">
		<div th:replace="~{fragments/nav :: nav}"></div>
		
		<div class="managerpagetoolex-modal-container">
			<div class="managerpagetoolex-tab-nav">
				<ul>
					<li class="tabs active"><a th:href="@{/momentlock/memberinquirylist}">문의게시판</a></li>
			        <li class="tabs"><a th:href="@{/momentlock/memberdeclarlist}">신고게시판</a></li>
			        <li class="tabs"><a th:href="@{/momentlock/membernoticelist}">공지사항</a></li>
				</ul>
			</div>
			
			<!-- 모달창 -->
			<div class="modal_3">
				
				<div id="title-box">
				    <h1>문의사항 페이지</h1>
					<input type="button" class="member-btn insert" 
						value="문의하기" onClick="location.href='/momentlock/inquiryinsert'"></input>
				</div>
				
				<div id="table-container">
					<div class="row">
						<div class="col number">1</div>
						<div class="col title">문의 제목</div>
						<div class="col">2025/10/4</div>
					</div>
					<div class="row">
						<div class="col number">1</div>
						<div class="col title">문의 제목</div>
						<div class="col">2025/10/4</div>
					</div>
					<div class="row">
						<div class="col number">1</div>
						<div class="col title">문의 제목</div>
						<div class="col">2025/10/4</div>
					</div>
					<div class="row">
						<div class="col number">1</div>
						<div class="col title">문의 제목</div>
						<div class="col">2025/10/4</div>
					</div>
					<div class="row">
						<div class="col number">1</div>
						<div class="col title">문의 제목</div>
						<div class="col">2025/10/4</div>
					</div>
					<div class="row">
						<div class="col number">1</div>
						<div class="col title">문의 제목</div>
						<div class="col">2025/10/4</div>
					</div>
					<div class="row">
						<div class="col number">1</div>
						<div class="col title">문의 제목</div>
						<div class="col">2025/10/4</div>
					</div>
					
				</div>
				
				<div>
					<a>이전</a>
					<!-- 페이지 번호 반복 -->
				    <span>
				        <a>1</a>
				    </span>
					<a>다음</a>
				</div>
				
			 </div>
			 
		</div>	
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
	<script th:src="@{/js/nav.js}" defer></script>
	<script th:src="@{/js/managerpagetoolex.js}" defer></script>
	<body>

</html>