<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>MOMENTLOCK</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" th:href="@{/css/nav.css}" />
	<link rel="stylesheet" th:href="@{/css/commons/commons.css}" />
	<link rel="stylesheet" th:href="@{/css/member/passwordResetConfirm.css}" />
	<link rel="stylesheet" th:href="@{/css/member/memberjoin.css}" />
	<link rel="stylesheet" th:href="@{/css/commons/member_btn.css}" />
</head>

<body>
	<div th:replace="~{fragments/sidebar :: sidebar}"></div>
	<div id="mainContainer" class="blurContainer">
		<div th:replace="~{fragments/nav :: nav}"></div>
		<div class="member-modal passwordreset" >
			<h1>비밀번호 재설정</h1>
			
			<form id="passwordAuthForm" method="post">
				<div id="input-box">
					<div class="input-box-name username">
						<span>이메일</span>
						<input type="text" name="username" placeholder="이메일을 입력하세요" />
						<button type="button" class="member-btn" id="sendCodeBtn">인증번호 전송</button>
					</div>
					<div class="input-box-name authcode">
						<span>인증번호</span>
						<input type="text" name="code" placeholder="인증번호를 입력하세요" />
						<button type="button" class="member-btn authconfirm" id="verifyCodeBtn">확인</button>
					</div>
				</div>
			</form>
			
			<div id="move-login-box">
				<a th:href="@{/momentlock/findid}">아이디 찾기</a>
				<p>|</p>
				<a th:href="@{/momentlock/login}">로그인</a>
			</div>
		</div>
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
	<script th:src="@{/js/nav.js}" defer></script>
	<script th:src="@{/js/member/passwordResetConfirm.js}" defer></script>
	<body>

</html>