<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" th:href="@{/css/nav.css}" />
	<link rel="stylesheet" th:href="@{/css/commons/commons.css}" />
	<link rel="stylesheet" th:href="@{/css/managerpagetoolex.css}" />
	<link rel="stylesheet" th:href="@{/css/noticebox.css}" /> 
</head>

<body>
	<div th:replace="~{fragments/sidebar :: sidebar}"></div>
	<div id="mainContainer" class="blurContainer">
		<div th:replace="~{fragments/nav :: nav}"></div>
		
		<div class="managerpagetoolex-modal-container">
			<div class="managerpagetoolex-tab-nav">
				<ul>
					<li class="tabs"><a th:href="@{/momentlock/masterinquirylist}">문의게시판</a></li>
			        <li class="tabs active"><a th:href="@{/momentlock/masterdeclarlist}">신고게시판</a></li>
			        <li class="tabs"><a th:href="@{/momentlock/masternoticelist}">공지사항</a></li>
				</ul>
			</div>
			
			<!-- 모달창 -->
			<div class="modal_3">
				<h1>신고 게시판 페이지</h1>
					<table class="box-table">
						<thead>
						   <tr>
							 <th class="col-num">번호</th>
							 <th class="col-title">신고항목</th>
							 <th class="col-date">작성일</th>
						   </tr>
						 </thead>
						 <tbody>
							<tr th:each="declaration, stat : ${declarationList}">
							  <td th:text="${stat.count}"></td>
							  <td class="col-title">
								<a th:href="@{/momentlock/declarationlist/{id}(id=${declaration.decid})}" th:text="${declaration.deccategory}"></a>
							  </td>
							  <td th:text="${#temporals.format(declaration.decregdate, 'yyyy-MM-dd')}"></td>
							</tr>
							<tr th:if="${#lists.isEmpty(declarationList)}">
							  <td colspan="3" style="text-align: center;">작성된 신고글이 없습니다.</td>
							</tr>
						  </tbody>
					</table>	
				</div>
		</div>	
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
	<script th:src="@{/js/nav.js}" defer></script>
	<script th:src="@{/js/managerpagetoolex.js}" defer></script>
	<body>

</html>