<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>관리자 문의사항</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" th:href="@{/css/nav.css}" />
	<link rel="stylesheet" th:href="@{/css/commons/commons.css}" />
	<link rel="stylesheet" th:href="@{/css/managerpagetoolex.css}" />
	<!-- [수정] CSS 경로 오타 수정 -->
	<link rel="stylesheet" th:href="@{/css/noticebox.css}" />
	<link rel="stylesheet" th:href="@{/css/commons/pagination.css}" />
	<!-- 상세정보 모달창 -->
	<link rel="stylesheet" th:href="@{/css/commons/detailModal.css}" />
</head>

<body>
	<div th:replace="~{fragments/sidebar :: sidebar}"></div>
	<div id="mainContainer" class="blurContainer">
		<div th:replace="~{fragments/nav :: nav}"></div>
		
		<div class="managerpagetoolex-modal-container">
			<div class="managerpagetoolex-tab-nav">
				<ul>
					<li class="tabs active"><a th:href="@{/momentlock/masterinquirylist}">문의게시판</a></li>
			        <li class="tabs"><a th:href="@{/momentlock/masterdeclarlist}">신고게시판</a></li>
			        <li class="tabs"><a th:href="@{/momentlock/masternoticelist}">공지사항</a></li>
				</ul>
			</div>
			
			<div class="modal_3">
				<h1>관리자 문의사항 페이지</h1>
				<table class="box-table">
					<thead>
					   <tr>
						 <th>번호</th>
						 <th>제목</th>
						 <th>닉네임</th>
						 <th>생성일</th>
						 <th>답변여부</th>
						</tr>
					</thead>
	
					<tbody>
						<tr class="row inquiry" th:each="inquiry, stat : ${inquiryPage.content}">
							<td th:text="${inquiry.inqid}"></td>
							<td th:text="${inquiry.inqtitle}"></td>
							<td th:text="${inquiry.member.username}"></td>
							<td th:text="${#temporals.format(inquiry.inqregdate, 'yyyy-MM-dd')}"></td>
							<td id="inqComplete" th:text="${inquiry.inqcomplete == 'QNAN' ? '답변 전' : '답변완료'}"></td>
						</tr>
						<tr th:if="${inquiryPage.empty}">
							<td colspan="4">표시할 게시글이 없습니다.</td>
						</tr> 
					</tbody>
				</table>
				<div th:if="${!inquiryPage.empty}" id="pagination-container">
					<ul class="pagination">
					   <li class="arrow" th:classappend="${inquiryPage.first} ? 'disabled'">
						  <a th:href="@{/momentlock/masterinquirylist(page=0)}">«</a>
					   </li>
					   <!-- '이전' 페이지로 이동 버튼 -->
					   <li class="arrow" th:classappend="${!inquiryPage.hasPrevious()} ? 'disabled'">
						  <a th:href="@{/momentlock/masterinquirylist(page=${inquiryPage.number - 1}, size=${inquiryPage.size})}">‹</a>
					   </li>
							   			                     
					   <!-- 페이지 번호 목록 (예: 1 2 3 4 5) -->
					   <li class="pagenumber" th:each="pageNumber : ${#numbers.sequence(0, inquiryPage.totalPages - 1)}" th:classappend="${pageNumber == inquiryPage.number} ? 'active'">
						  <a th:href="@{/momentlock/masterinquirylist(page=${pageNumber}, size=${inquiryPage.size})}" th:text="${pageNumber + 1}"></a>
					   </li>
							   			                     
					   <!-- '다음' 페이지로 이동 버튼 -->
					   <li class="arrow" th:classappend="${!inquiryPage.hasNext()} ? 'disabled'">
						  <a th:href="@{/momentlock/masterinquirylist(page=${inquiryPage.number + 1}, size=${inquiryPage.size})}">›</a>
					   </li>
					   <!-- '마지막' 페이지로 이동 버튼 -->
					   <li class="arrow" th:classappend="${inquiryPage.last} ? 'disabled'">
						  <a th:href="@{/momentlock/masterinquirylist(page=${inquiryPage.totalPages - 1})}">»</a>
					   </li>
					</ul>										 
				</div>
			</div>
		</div>	
		
		<!-- 상세정보 모달창 -->
		<div class="modal-overlay">
			<div class="box-modal">
				 <a>
				 	<img class="close-btn" src="/img/x.png" alt="창닫기" />
				 </a>
				 <div id="modal-inner">
					<div class="modal-title-date-box">
						<p class="modal-title"></p>
						<input class="modal-id" name="inqid" type="hidden" />
						<input class="modal-complete" name="inqcomplete" type="hidden" />
						<input class="modal-answer" name="inqanswer" type="hidden" />
					</div>
					<textarea class="modal-content" disabled></textarea>
				 </div>
				 <div id="modal-inquiry">
				 	<input type="button" class="member-btn inquiry" value="답변하기" />
					<form id="inquiryForm" th:action="@{/momentlock/masterinquiry}" method="post">
						<textarea name="inqanswer" class="inquiry-content"></textarea>
						<input class="modal-id" id="inqid" name="inqid" type="hidden" />
						<button>답변완료</button>
					</form>
				 </div>
		 	</div>
		</div>
		
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
	<script th:src="@{/js/nav.js}" defer></script>
	<script th:src="@{/js/managerpagetoolex.js}" defer></script>
	<script th:src="@{/js/member/memberfunction.js}" defer></script>
	<script th:src="@{/js/master/masterBoard.js}" defer></script>
</html>
