<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" th:href="@{/css/nav.css}" />
	<link rel="stylesheet" th:href="@{/css/commons/commons.css}" />
	<link rel="stylesheet" th:href="@{/css/managerpagetoolex.css}" />
</head>

<body>
	<div th:replace="~{fragments/sidebar :: sidebar}"></div>
	<div id="mainContainer" class="blurContainer">
		<div th:replace="~{fragments/nav :: nav}"></div>
		
		<div class="managerpagetoolex-modal-container">
			<div class="managerpagetoolex-tab-nav">
				<ul>
					<li class="tabs"><a th:href="@{/momentlock/masterinquirylist}">문의게시판</a></li>
			        <li class="tabs active"><a th:href="@{/momentlock/masterdeclarlist}">신고게시판</a></li>
			        <li class="tabs"><a th:href="@{/momentlock/masternoticelist}">공지사항</a></li>
				</ul>
			</div>
			
			<!-- 모달창 -->
			<div class="modal_3">
			    <h1>관리자 신고게시판페이지</h1>
				<div>이 div안에서 코드 구현</div>
			 </div>
			 
		</div>	
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
	<script th:src="@{/js/nav.js}" defer></script>
	<script th:src="@{/js/managerpagetoolex.js}" defer></script>
	<body>

</html>