<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" th:href="@{/css/nav.css}" />
	<link rel="stylesheet" th:href="@{/css/commons/commons.css}" />
	<link rel="stylesheet" th:href="@{/css/managerpagetoolex.css}" />
	<link rel="stylesheet" th:href="@{/css/noticebox.css}" />
	<link rel="stylesheet" th:href="@{/css/search.css}" />
	<link rel="stylesheet" th:href="@{/css/commons/pagination.css}" />
</head>

<body>
	<div th:replace="~{fragments/sidebar :: sidebar}"></div>
	<div id="mainContainer" class="blurContainer">
		<div th:replace="~{fragments/nav :: nav}"></div>
		
		<div class="managerpagetoolex-modal-container">
			<div class="managerpagetoolex-tab-nav">
				<ul>
					<li class="tabs active"><a th:href="@{/momentlock/membermanagement}">회원관리</a></li>
			        <li class="tabs"><a th:href="@{/momentlock/boxmanagement}">상자관리</a></li>
			        <li class="tabs"><a th:href="@{/momentlock/capsulemanagement}">타임캡슐 관리</a></li>
					<li class="tabs"><a th:href="@{/momentlock/subscriptionmanagement}">구독관리</a></li>
				</ul>
			</div>
			
			<!-- 모달창 -->
			<div class="modal_3">
			   <h1>회원 관리</h1>
			   <div class="search-container">
				  <form th:action="@{/momentlock/membermanagement}" method="get">
					<input type="text"  name="nickname" placeholder="사용자 닉네임 검색" th:value="${searchKeyword}" />
					<button type="submit">검색</button>
				  </form>
			   </div>
			   <table class="box-table">
				<thead>
					<tr>
					  <th>번호</th>
					  <th>이름</th>
					  <th>닉네임</th>
					  <th>삭제</th>
					</tr>
				 </thead>
				  <tbody>
					<div>
					  <tr th:each="member, stat : ${memberPage.content}">
						<td th:text="${memberPage.totalElements - (memberPage.number * memberPage.size) - stat.index}">10</td>
						<td th:text="${member.name}">이름</td>
						<td th:text="${member.nickname}">닉네임</td>
					    <td>
						  <form th:action="@{/momentlock/member/updateToMDY}" method="post" onsubmit="return confirm('정말로 이 회원을 삭제하시겠습니까?');">
							<input type="hidden" name="username" th:value="${member.username}" />
							<button type="submit" th:if="${member.memcode == 'MDN'}" class="delete-btn">삭제</button>
						  </form>
						</td>
					  </tr>
					  <tr th:if="${memberPage.empty}">
						<td colspan="4">표시할 회원 데이터가 없습니다.</td>
					  </tr>
					</div>
				</tbody>
			  </table>
			  <div th:if="${!memberPage.empty}" id="pagination-container">
			  	<ul class="pagination">
			  		<li class="arrow" th:classappend="${memberPage.first} ? 'disabled'">
			  			<a th:href="@{/momentlock/membermanagement(page=0)}">«</a>
			  		</li>
			  		<!-- '이전' 페이지로 이동 버튼 -->
			  		<li class="arrow" th:classappend="${!memberPage.hasPrevious()} ? 'disabled'">
			  			<a th:href="@{/momentlock/membermanagement(page=${memberPage.number - 1})}">‹</a>
			  		</li>
			  								 																   			                     
			  		<!-- 페이지 번호 목록 (예: 1 2 3 4 5) -->
			  		<li class="pagenumber" th:each="pageNumber : ${#numbers.sequence(0, memberPage.totalPages - 1)}" th:classappend="${pageNumber == memberPage.number} ? 'active'">
			  			<a th:href="@{/momentlock/membermanagement(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
			  		</li>
			  								 																   			                     
			  		<!-- '다음' 페이지로 이동 버튼 -->
			  		<li class="arrow" th:classappend="${!memberPage.hasNext()} ? 'disabled'">
			  			<a th:href="@{/momentlock/membermanagement(page=${memberPage.number + 1})}">›</a>
			  		</li>
			  		<!-- '마지막' 페이지로 이동 버튼 -->
			  		<li class="arrow" th:classappend="${memberPage.last} ? 'disabled'">
			  			<a th:href="@{/momentlock/subscriptionmanagement(page=${memberPage.totalPages - 1})}">»</a>
			  		</li>
			  	</ul>										 
			  </div>
		    </div>
			 
		</div>	
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
	<script th:src="@{/js/nav.js}" defer></script>
	<script th:src="@{/js/managerpagetoolex.js}" defer></script>
	<body>

</html>