/* 모달 - 핑크색 박스 안에 절대 위치 */
.modal {
  display: none;
  position: absolute;
  top: 0; 
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  z-index: 10;
  background: none; 
}

/* 모달 내용 (갈색 박스만 보이게) */
.modal-content {
  background: rgba(199, 125, 65, 0.8);
  border: 2px solid rgba(199, 125, 65, 0.8);
  border-radius: 10px;
  width: 70%;
  height: 70%;             
  margin: 40px auto 0;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  color: #fff;
  text-align: center;
  position: relative;

  display: flex;
  flex-direction: column;
}

/* 리스트 영역: 남은 공간 차지 + 스크롤 */
.member-list {
  flex: 1;                /* 리스트가 남은 공간 차지 */
  overflow-y: auto;        /* 많아지면 스크롤 */
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.modal-confirm {
  align-self: center;
  margin-top: auto;          
  margin-bottom: 20px;       
  padding: 10px 30px;
  background: #666666;
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.modal-confirm:hover {
  background: #555555;
}

.member-item {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background: #d9d9d9;
  padding: 10px;
  border-radius: 6px;
  color: #fff;
}

.left-info {
  display: flex;
  align-items: center;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nickname {
  margin-left: 10px;     
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}


.kick-btn {
  padding: 6px 12px;
  background: #ababab;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.kick-btn:hover {
  background: #c9302c;
}

