
/* 모달 컨테이너 - 높이 제한 */



.grid_container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* 자동으로 3열 맞추되, 화면 줄면 줄어듦 */
	justify-items: center; /* 수평 중앙 정렬 */
	align-items: end; /* 행 기준으로 하단 정렬 */
	padding: 30px;
	width: 100%;
	box-sizing: border-box;
	overflow-y: auto;
}


.box_card {
	width: 250px;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 15px;
	transition: transform 0.2s;
	color: #ffff;
}

.box_card:hover {
	transform: scale(1.05);
}

.rank {
	width: 100px;
	height: 100px;
}

.box {
	width: 228px;
	height: 194px;	
}

h3 {
	font-weight: 400;
}