<!-- fragments/footer.html -->
<footer th:fragment="footer">
  <div class="footer-content">
    <div class="footer-links">
      <a href="/momentlock/personalinfo">개인정보 보호 및 쿠키</a>
      <span class="divider">|</span>
      <a href="/momentlock/usepolicy">사용 약관</a>
      <span class="divider">|</span>
      <a href="#">상표</a>
      <span class="divider">|</span>
      <a href="#">광고 정보</a>
      <span class="divider">|</span>
      <span class="copyright">©2025 MomentLock</span>
    </div>
    <div class="footer-logo">
      <img src="/img/momentlockLogo.png" alt="Logo" class="logo-img" />
    </div>
  </div>
</footer>