<!-- fragments/nav.html -->
<nav id="mainNavbar" th:fragment="nav">
	<div class="nav-left">
		<button class="hamburger-menu">
			<span></span><span></span><span></span>
		</button>
	</div>
	<div class="nav-center">
		<div class="logo">
			<a th:href="@{/momentlock}">
				<img class="nav-img" th:src="@{/img/momentLock_top.png}" alt="logo" />
			</a>
		</div>
	</div>
	<div class="nav-right">
		<!-- 로그인 안 된 경우 -->
		<button th:if="${user} == anonymousUser" class="modal-loginBtn" onclick="gotoLogin()">
			로그인
		</button>

		<!-- 로그인 된 경우 -->
		<button th:if="${user} != anonymousUser" class="modal-loginBtn" onclick="logout()">
			로그아웃
		</button>
	</div>
</nav>