<!-- fragments/nav.html -->
<nav id="mainNavbar" th:fragment="nav">
	<div class="nav-left">
		<button class="hamburger-menu">
			<span></span><span></span><span></span>
		</button>
	</div>
	<div class="nav-center">
		<div class="logo">
			<a th:href="@{/momentlock}">
				<img class="nav-img" th:src="@{/img/momentLock_top.png}" alt="logo" />
			</a>
		</div>
	</div>
	<div class="nav-right">
		<button class="modal-loginBtn" id="modalLoginBtn">
			<span th:if="${user == null}" th:text="로그인" onclick="gotoLogin()"></span>
			<span th:if="${user != null}" th:text="로그아웃" onclick="logout()"></span>
		</button>
	</div>
</nav>