<!-- fragments/sidebar.html -->
<!-- 사이드바 오버레이 -->
<div class="sidebar-overlay" id="sidebarOverlay" th:fragment="sidebar">
	<!-- 사이드바 메뉴 -->
	<div class="sidebar" id="sidebar">
		<div class="sidebar-header">
			<button class="sidebar-close-btn" id="sidebar-closeBtn">&times;</button>
		</div>
		<div class="sidebar-content">
			<div class="sidebar-item">지도</div>
			<div class="sidebar-item">타임캡슐 갤러리</div>
			<div class="sidebar-item">타임캡슐 상점</div>
			<!-- 로그인 안 된 경우 마이페이지 숨김 -->
			<div th:if="${user != null}" class="sidebar-item">마이페이지</div>
			<div class="sidebar-item">문의게시판</div>
		</div>
	</div>
</div>