<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	 <title th:text="|${statusCode} - 오류|">Error</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" th:href="@{/css/nav.css}" />
	<link rel="stylesheet" th:href="@{/css/commons/commons.css}" />
	<link rel="stylesheet" th:href="@{/css/commons/main_btn.css}" />
</head>

<body>
	<div th:replace="~{fragments/sidebar :: sidebar}"></div>
	<div id="mainContainer" class="blurContainer">
		<div th:replace="~{fragments/nav :: nav}"></div>
		<img src="/img/Error-Cat.png" alt="고양이 에러 이미지입니다." style="width: 50%; height: auto;"/>
		<div class="modal" style="width: 40%;">
			<h1 th:text="${statusCode}">Error</h1>
			<p th:text="${errorMessage}">오류가 발생했습니다.</p>
			<a href="/momentlock" class="main-btn" style="text-decoration: none; margin-top: 90%;">홈으로 돌아가기</a>
		</div>
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
	<script th:src="@{/js/nav.js}" defer></script>

	<body>

</html>