.grid_container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	/* 카드 사이 간격 */
	color: #ffffff;
}

.box-card {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 10px;
  background-color: #fafafa;
}
.box-card img {
  width: 100px;
  height: 100px;
}

h3 {
	font-weight: 400;	
}