<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>MOMENTLOCK</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" th:href="@{/css/nav.css}" />
	<link rel="stylesheet" th:href="@{/css/commons.css}" />
	<link rel="stylesheet" th:href="@{/css/commons/member_btn.css}" />
	<link rel="stylesheet" th:href="@{/css/member/login.css}" />
</head>

<body>
	<div th:replace="~{fragments/sidebar :: sidebar}"></div>
	<div id="mainContainer" class="blurContainer">
		<div th:replace="~{fragments/nav_login :: nav}"></div>
		<div class="member-modal login">
			<h1>로그인 또는 회원가입</h1>
			<div class="fail-login" th:if="${param.error}" style="color:red;">
  				아이디 또는 패스워드를 잘못 입력하였습니다
			</div>
			<form action="/loginProc" method="post" name="loginForm">
				<div id="input-box">
					<div id="input-group">
					<div class="input-group username">
					<span>아이디</span>
        			<input id="username" type="text" name="username" placeholder="아이디를 입력하세요"/>
        			</div>
        			<div class="input-group password">
        			<span>비밀번호</span>
        			<input id="password" type="password" name="password" placeholder="비밀번호를 입력하세요"/>
        			</div>
        			</div>
        			<input class="member-btn" type="submit" value="로그인"/>
        			<div id="move-login-box">
        				<div class="anchor-id-find">
	    				<a th:href="@{/momentlock/member/idFind}">아이디 찾기</a>
	    				</div>
		    			<div class="anchor-join">
		    			<a th:href="@{/momentlock/memberjoin}">가입</a>
        				</div>
        				<div class="anchor-password-reset">
        				<a th:href="@{/momentlock/passwordresetconfirm}">비밀번호 찾기</a>
        				</div>
        			</div>
        		</div>
    		</form>
			<div class="social-login-box">
				<div>간편 로그인</div>
					<div id="social-login-img-box">
		    			<a href="/oauth2/authorization/naver">
							<img class="naver-img" th:src="@{/img/naver.png}">
						</a>
		    			<a href="/oauth2/authorization/google">
		    				<img class="google-img" th:src="@{/img/google.png}">
		    			</a>
		    			<a href="/oauth2/authorization/kakao">
		    				<img class="kakao-img" th:src="@{/img/kakao.jpg}">
		    			</a>
					</div>
    		</div>
		</div>
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
	<script th:src="@{/js/main.js}" defer></script>
	<script>
		setTimeout(function() {
			document.querySelector('.fail-login').style.display = 'none';
		}, 3000);
	</script>
</body>

</html>