<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" th:href="@{/css/nav.css}" />
	<link rel="stylesheet" th:href="@{/css/maininfo.css}" />
	<link rel="stylesheet" th:href="@{/css/commons/commons.css}" />
</head>

<body>
	<div th:replace="~{fragments/sidebar :: sidebar}"></div>
	<div id="mainContainer">
		<div th:replace="~{fragments/nav :: nav}"></div>
		
		<div>
		<section class="main-intro">
			<p>
				 바쁜 일상 속 잊혀져 가는 소중한 추억들을 타임캡슐에 담아보세요.<br />
				 특정 시간이 지나면 열리는 디지털 상자 속에서<br />
				 가족, 친구들과 함께 과거의 순간들을 다시 만날 수 있습니다.
			</p>
		</section>
			</div>
			
			<div class="modal6" id="infomodal">
				<div class="infomodal-box">
					<button class="make-capsule">타임캡슐 만들기</button> 
					
						<div class="img-container">
						  <img src="/img/timelock.png" alt="a" />
						  <img src="/img/together.png" alt="b" />
						  <img src="/img/private.png" alt="c" />
						  <img src="/img/imozi.png" alt="d" />
						  <img src="/img/history.png" alt="e" />
						  <img src="/img/save.png" alt="f" />
						</div>

					
				</div>
			</div>
			
			
			
			
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
	<script th:src="@{/js/nav.js}" defer></script>

	<body>

</html>