<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" th:href="@{/css/nav.css}" />
	<link rel="stylesheet" th:href="@{/css/commons/commons.css}" />
	<link rel="stylesheet" th:href="@{/css/managerpagetoolex.css}" />
	<link rel="stylesheet" th:href="@{/css/box/opensoonbox.css}" />
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body>
	<div th:replace="~{fragments/sidebar :: sidebar}"></div>
	<div id="mainContainer" class="blurContainer">
		<div th:replace="~{fragments/nav :: nav}"></div>

		<div class="managerpagetoolex-modal-container">
			<div class="managerpagetoolex-tab-nav">
				<ul>
					<li class="tabs"><a th:href="@{/momentlock/popularbox}">인기 캡슐</a></li>
					<li class="tabs active"><a th:href="@{/momentlock/opensoonbox}">공개예정 캡슐</a></li>
					<li class="tabs"><a th:href="@{/momentlock/openboxmap}">캡슐 지도</a></li>
				</ul>
			</div>

			<!-- 모달창 -->
			<div class="modal_3">
				<h1>타임캡슐 갤러리</h1>

				<div class="grid_container">
					<div class="box_card" th:each="box:${opensoonboxlist}">
						<img src="/img/buriedBox.png">
						<h2 th:text="${box.boxname}"></h2>
						<h3 class="dday" th:data-target="${box.boxopendate}"></h3>
						<script th:inline="javascript">
							$(function () {
								$('.dday').each(function () {
									const opendate = $(this).data('target');
									renewOneSecond(opendate, $(this))
								})
							})
						</script>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
	<script th:src="@{/js/nav.js}" defer></script>
	<script th:src="@{/js/managerpagetoolex.js}" defer></script>
	<script th:src="@{/js/box/opensoonbox.js}" defer></script>

	<body>

</html>