<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>MOMENTLOCK</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" th:href="@{/css/nav.css}" />
	<link rel="stylesheet" th:href="@{/css/commons/commons.css}" />
	<link rel="stylesheet" th:href="@{/css/gif.css}" />
</head>

<body>
	<div th:replace="~{fragments/sidebar :: sidebar}"></div>
	<div id="mainContainer" class="blurContainer">
		<div th:replace="~{fragments/nav :: nav}"></div>

		<div class="modal">
			<img id="gif_action" src="/img/buryBox.gif"></img>
			<h3>정상적으로 상자가 묻어졌습니다!</h3>
			<h3>상자를 클릭하면 상자 목록으로 이동합니다.</h3>
			<a href="/momentlock/myboxlist">
				<img src="/img/buriedBox.png" class="closed" id="boxImg">				
			</a>
		</div>

	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
	<script th:src="@{/js/nav.js}" defer></script>

	<body>

</html>