<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>capsule detail</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="capsuleDetail.css">
    <link rel="stylesheet" href="../nav.css">
</head>
<body>
    <!-- 사이드바 오버레이 -->
    <div class="sidebar-overlay" id="sidebarOverlay"></div>
    <!-- 사이드바 메뉴 -->
    <div class="sidebar" id="sidebar">
      <div class="sidebar-header">
        <button class="close-btn" id="closeBtn"></button>
      </div>
      <div class="sidebar-content">
        <div class="sidebar-item">지도</div>
        <div class="sidebar-item">타임캡슐 갤러리</div>
        <div class="sidebar-item">타임캡슐 상점</div>
        <div class="sidebar-item">마이페이지</div>
      </div>
    </div>
    
    <div id="mainContainer" class="blurContainer">
        
      <nav id="mainNavbar">
            <div class="nav-left">
              <button class="hamburger-menu">
                <span></span>
                <span></span>
                <span></span>
              </button>
            </div>
            <div class="nav-center">
                <div class="logo">
                    <a href="/"><img class="nav-img" src="/img/momentLock_top.png" alt=""></a>
                </div>
            </div>
            <div class="nav-right">
              <!-- <button class="nav-btn">마이페이지</button>
              <button class="nav-btn">로그아웃</button> -->
              <button class="nav-btn">로그인</button>
            </div>
      </nav>

      <div class="my_capsule_detail">

        <h1>캡슐 제목</h1>

        <div class="uploaded_image_or_video">
            <img src="/img/cute.jpg" alt="">
        </div>
        <div class="uploaded_text">
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            vfdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi
            fdkfjsiefosjkdddjfosjfsoidjfisjdifjsiedjfsijdfi

        </div>

        <div class="actions">
          <button class="form-btn">이전</button>
          <button class="form-btn">다음</button>
        </div>

      </div>

    </div>
    
    <footer>
      <div class="footer-content">
        <div class="footer-links">
          <a href="./policy_page/personalInfo.html">개인정보 보호 및 쿠키</a>
          <span class="divider">|</span>
          <a href="./policy_page/usePolicy.html">사용 약관</a>
          <span class="divider">|</span>
          <a href="#">상표</a>
          <span class="divider">|</span>
          <a href="#">광고 정보</a>
          <span class="divider">|</span>
          <span class="copyright">©2025 MomentLock</span>
        </div>
        <div class="footer-logo">
          <img src="/img/momentlockLogo.png" alt="Logo" class="logo-img" />
        </div>
      </div>
    </footer>
    <script src="../nav.js"></script>
  </body>
</html>