<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>capsule detail</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" th:href="@{/css/nav.css}" />
	<link rel="stylesheet" th:href="@{/css/commons/commons.css}" />
	<link rel="stylesheet" th:href="@{/css/capsule/opencapsuledetail.css}" />
</head>

<body>
	<div th:replace="~{fragments/sidebar :: sidebar}"></div>
	<div id="mainContainer" class="blurContainer">
		<div th:replace="~{fragments/nav :: nav}"></div>
		<div class="my_capsule_detail" th:each="${afile:afileList}">

			<h1>캡슐 제목</h1>

			<div class="uploaded_image_or_video">
				<img src="/img/cute.jpg" alt="">
			</div>
			<div class="uploaded_text">
				여기에 사용자가 캡슐에 업로드 한 텍스트를 넣으면 됩니다.
			</div>

			<div class="actions">
				<button class="form-btn">이전</button>
				<button class="form-btn">다음</button>
			</div>
		</div>
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
	<script th:src="@{/js/nav.js}" defer></script>

	<body>

</html>