.member-modal.idfind {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

h1 {
	padding-top: 50px !important;
}

#input-box {
	gap: 40px !important;
}

#move-login-box {
	display: flex;
	justify-content: center;
	gap: 60px;
	margin-top: 50px;
}

#move-login-box a {
	text-decoration-line: none;
	color: whitesmoke;
	font-size: 20px;
}

#move-login-box p {
	color: whitesmoke;
}

.find-btn {
  appearance: none;
  -webkit-appearance: none; /* For WebKit browsers */
  -moz-appearance: none;

  background: none;
  border: none;

  font: inherit;
  
  color: white;

  cursor: pointer;

  padding: 0;

  display: inline;
}