.member-modal.login {
	display: flex;
	justify-content: center;
  align-items: center;
	flex-direction: column;
	gap: 7vh;
}

h1 {
	padding-top: 5vh !important;
	color: whitesmoke;
}

form {
	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 10px;
}

#input-box {
	width: 80%;
}

#input-group {
	margin: 1vh;
}

.input-group span {
  width: 100px; /* fixed width ensures inputs align */
  text-align: right;
  font-size: 2vw;
  color: white;
  margin-top: 22px;
}

.input-group input {
  	width: 60%;
  	padding: 5px;
  	border-radius: 3px;
  	border: 1px solid #ccc;
  	margin: 10px;
}

.input-group.username {
  display: flex;
}

.input-group.username input {
	height: 4vh;
}

.input-group.password {
	display: flex;
}

.input-group.password input {
	height: 4vh;
}


#move-login-box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 2vh;
}

#move-login-box a {
	display: flex;
	flex-direction: column;
	text-decoration-line: none;
	color: whitesmoke;
}

.anchor-id-find a {
	font-size: 1.2vw;
}

.anchor-join a {
	font-size: 1.4vw;
}

.anchor-password-reset a {
	font-size: 1.2vw;
}

.find-btn {
  	appearance: none;
  	-webkit-appearance: none; /* For WebKit browsers */
  	-moz-appearance: none;

  	background: none;
  	border: none;

  	font: inherit;
  
  	color: white;

  	cursor: pointer;

  	padding: 0;

  	display: inline;
}

.social-login-box {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#social-login-img-box {
	display: flex;
	gap: 40px;
}

.social-login-box div {
	color: white
}

.social-login-box a {
	text-decoration: none;
}

.social-login-box img {
	width: 60px;
	border-radius: 50%;
	padding: 10px;
}