.input-box-name.phonenumber.mysub {
	margin-left: 0 !important;
}

#mysub,
#enddate {
	margin-left: 0 !important;
	position: absolute;
	left: 35%;
}

.member-btn.sub {
	padding: 4px 8px !important;
	font-size: 15px;
	margin-left: 190px;
}

#btn-box {
	margin-top: 50px;
}
