#table-container {
	min-height: 75vh;
	margin-top: 30px;
}

.row {
	display: flex;
	margin-bottom: 20px;
	background-color: #d9d9d9;
	padding: 10px 5px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}

.col {
	flex: 1;
	font-size: 20px;
}

.row:hover {
	background-color: gray;
}