/* 모달 컨테이너 - 높이 제한 */
.modal_3 {
   min-height: 100vh;
   /* 화면 높이에 맞춤 */
}

#mainContainer {
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.2);
}

#table-container {
	min-height: 75vh;
	margin-top: 30px;
}

.row {
	display: flex;
	margin-bottom: 2%;
	background-color: #d9d9d9;
	padding: 10px 5px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}

.col {
	flex: 1;
	font-size: 20px;
}

.row:hover {
	background-color: gray;
}

#title-box {
	display: flex;
	justify-content: flex-end;
	gap: 290px;
	max-height: 45px;
}

#title-box > h1 {
	color: whitesmoke;
	min-height: 50px;
}

.member-btn.insert {
	cursor: pointer;
	min-width: 100px;
	font-size: 15px;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.6);
	align-items: center;
	justify-content: center;
	z-index: 1999;
}

.box-modal {
	width: 40vw;
	height: 40vh;
	background-color: rgba(188, 138, 89);
	display: none;
	padding: 30px;
	z-index: 2000;
}

#modal-inner {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}


.modal-title-date-box {
	display: flex;
	flex-direction: column;
}

.modal-content {
	width: 40vw;
	height: 30vh;
	background-color: rgba(100, 100, 100, 0.2);
	border-radius: 8px;
	overflow: auto;
}

.modal-title {
	width: 40vw;
	height: 5vh;
	background-color: rgba(100, 100, 100, 0.2);
	border-radius: 8px;
	line-height: 3;
}

