.member-modal.passwordreset {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

h1 {
	padding-top: 50px !important;
}

#input-box {
	gap: 40px !important;
}

.input-box-name.username > button{
	position: absolute;
	right: 8%;
	padding: 4px 8px !important;
	font-size: 15px !important;
}

.input-box-name.authcode > button {
	position: absolute;
	right: 16%;
	padding: 2px 4px !important;
}

.input-box-name.authcode {
	margin-left: 65px;
}

.input-box-name.authcode > span {
	position: absolute;
	left: 19%;
}

#move-login-box {
	display: flex;
	justify-content: center;
	gap: 60px;
	margin-top: 50px;
}

.reset {
	margin-top: 20px !important;
}

#move-login-box a {
	text-decoration-line: none;
	color: whitesmoke;
	font-size: 20px;
}

#move-login-box p {
	color: whitesmoke;
}


/* 
	비밀번호 재설정 passwordreset.html 확인 버튼 css 
*/

.member-btn.passwordresetconfirm {
	padding: 4px 8px !important;
	margin-top: 30px;
}






